body{
			margin: 0 auto;
			text-align: center;
			right: 40%;
			background: #3fb5e7;
		}
		*{
			box-sizing:border-box;
		}
		.contenedor{
			left: 35%;
			position: absolute;
			width: 500px;
			height: 500px;
			background: #3fb5e7;
			margin: 50px auto;
			text-align: center;
		}
		.baseCel{
			position: absolute;
			width: 200px;
			height: 350px;
			border-radius: 20px;
			background: white;
			left: 120px;
			top: 50px;
		}
		.pantallaCel{
			position: absolute;
			width: 180px;
			height: 290px;
			border-radius: 0px;
			background: #E1E9ED;
			left: 130px;
			bottom: 130px;
			border:thin solid #ADB7BC;
		}
		.camaraCel{
			font-size: 10px;
			position: absolute;
			width: 20px;
			height: 20px;
			background: #B1B7BA;
			border-radius: 50%;
			left: 210px;
			top: 55px;
			border:thin solid #ADB7BC;
		}
		.botonCel{
			position: absolute;
			width: 60px;
			height: 20px;
			border-radius: 20px;
			background: #B1B7BA;
			left: 190px;
			bottom: 105px;
			/*border:thin solid #ADB7BC;*/
		}
		.icons{
			z-index: 50;
			opacity: 0;
			position: absolute;
			width: 30px;
			height: 30px;
			border-radius: 4px;
			font-size: 25px;
			text-align: center;
			color: white;
			background: none;
		}
		#t{
			width: 30px;
			height: 30px;
			background: none;
			left: 55px;
			bottom: 20px;
			transform:rotate(0deg);
		}
		#w{
			left: 95px;
			bottom: 20px;
			background: none;
			width: 30px;
			height: 30px;
			transform:rotate(-90deg);
		}
		#c{
			width: 30px;
			height: 30px;
			background: none;
			left: 135px;
			bottom: 20px;
			transform:rotate(0deg);
		}
		#f{
			background: none;
			width: 30px;
			height: 30px;
			transform:rotate(0deg);
			left: 15px;
			bottom: 20px;
		}
		.pantallaCel img{
			position: absolute;
			width: 290px;
			height: 180px;
			border-radius: 0px;
			background: #E1E9ED;
			left: -55px;
			bottom: 55px;
			transform:rotate(90deg);
		}
		.pantallaCel:hover .icons{
			opacity: 1;
		}
		.bloqueo{
			z-index: 25;
			position: absolute;
			width: 180px;
			height: 290px;
			border-radius: 0px;
			background: #111;
			left: 0px;
			bottom: 0px;
			transition:all 0.3s ease-out;
		}
		.reloj{
			z-index: 20;
			position: absolute;
			width: 50px;
			height: 20px;
			font-size: 40px;
			color: white;
			left: 45px;
			top: 20px;
		}
		.reloj span{
			font-size: 20px;
		}
		.fecha span{
			z-index: 20;
			color: white;
			font-size: 15px;
			position: absolute;
			top: 80px;
			left: 5px;
		}
		h2{
			left: 20px;
			position: absolute;
			color: white;
			font-size: 25px;
		}